<div class="comments">
  <h4 class="comments-header">Comments</h4>
  <p class="comments-help">
  To comment, you must sign in to your GitHub account below and authorize the
  <a href="https://utteranc.es" target="_blank">utterances</a> app to post in
  your behalf, or post on
  <a href="https://github.com/marian-nmt/marian/issues/{{ include.issue-number }}"
     target="_blank">the GitHub issue #{{ include.issue-number }}</a> directly.
  </p>
</div>
<script src="https://utteranc.es/client.js"
        repo="marian-nmt/marian"
        issue-number="{{ include.issue-number }}"
        crossorigin="anonymous"
        theme="github-light"
        async>
