<header id="header" class="header">
  <div class="container">
    <div class="branding">
      <h1 class="logo">
        <a href="{{ "/" | relative_url }}">
          <span aria-hidden="true" class="{{ site.header.title_icon }} icon"></span>
          <span class="text-highlight">{{ site.header.title_highlighted }}</span><span class="text-bold">{{ site.header.title_bold }}</span>
        </a>
      </h1>
      <p class="description">{{ site.description }}</p>
    </div><!--//branding-->

    {% include top_menu.html %}

  </div><!--//container-->
</header><!--//header-->
