<!--[if IE 8]> <html lang="{{ page.lang | default: site.lang | default: "en" }}" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ page.lang | default: site.lang | default: "en" }}" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<!--<![endif]-->

  {% include head.html %}

  <body class="landing-page body-{{ page.color | default: site.color_scheme | default: "blue" }}">
    <a class="github-fork-ribbon" href="{{ site.github }}/amunmt" title="Fork me on GitHub">Fork me on GitHub</a>

    <div class="page-wrapper">

      <header class="header text-center">
        <div class="container">
          <div class="branding">
            <h1 class="logo">
              <span aria-hidden="true" class="{{ site.header.title_icon }} icon"></span>
              <span class="text-highlight">{{ site.header.title_highlighted }}</span><span class="text-bold">{{ site.header.title_bold }}</span>
            </h1>
          </div>

          <div class="tagline">
            <p>{{ site.description }}</p>
          </div>

          {% include top_menu.html %}

        </div><!--//container-->
      </header><!--//header-->

      <section class="cards-section text-center">
        <div class="container">

          {{ content }}

        </div><!--//container-->
      </section><!--//cards-section-->
    </div><!--//page-wrapper-->

    {% include footer.html %}

    <script type="text/javascript" src="/assets/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>

  </body>
</html>
